<%- include('partials/header'); -%>

<div class="content-wrapper1"></div>
<script src="/scripts/jsonFormater.js" defer></script>
<script src="/scripts/data.js" defer></script>
<%- include('partials/footer'); -%>
