/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

body {
  margin: 20px 40px;
  font-size: 1.2rem;
  letter-spacing: 1px;
  background: #fafafa;
}
h1,
h2,
h3,
h4,
ul,
li,
a,
p,
input,
label,
button,
div,
footer {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  color: #444;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 70px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav li {
  margin-left: 20px;
}
nav li a {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9em;
  display: block;
  padding: 10px 0px;
  letter-spacing: 1px;
}
.btn {
  border-radius: 36px;
  background: #04b1a4;
  color: #fff;
}
form h2 {
  font-size: 2.4em;
  font-weight: 900;
  margin-bottom: 40px;
}
form {
  width: 360px;
  margin: 0 auto;
  padding: 30px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background: white;
}
input,
select {
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 1em;
  width: 100%;
}
label {
  display: block;
  margin: 20px 0 10px;
}
button {
  margin-top: 30px;
  border-radius: 36px;
  background: #04b1a4;
  border: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px;
  color: #fff;
}
.error {
  color: #ff0099;
  margin: 10px 2px;
  font-size: 0.8em;
  font-weight: bold;
}
.content-wrapper {
  display: flex;
  align-items: center;
}
.content-wrapper img {
  width: 250px;
  margin-right: 40px;
}
.content-wrapper h2 {
  font-size: 3em;
  margin-bottom: 10px;
}
.content-wrapper h3 {
  font-size: 1.6em;
  margin-bottom: 10px;
  margin-left: 2px;
  color: #999;
}
.content-wrapper .btn {
  margin-top: 20px;
  padding: 12px 18px;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  font-size: 0.8em;
}
.recipes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 80px;
  margin: 80px AUTO;
  max-width: 1200px;
}
.recipe {
  display: inline-block;
  border-radius: 20px;
  background: white;
  position: relative;
  text-align: center;
  padding: 0 20px 30px 20px;
}
.recipe img {
  width: 100px;
  margin: -30px auto 20px;
}
footer {
  text-align: center;
  margin-top: 120px;
  color: #aaa;
}

.signUpMsg {
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
}

.signUpMsg a {
  color: blue;
}

.task h4 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}

.task label {
  font-size: 16px;
}
form.task {
  width: 1000px;
  max-width: 90%;
  position: relative;
}

form.task select {
  width: 300px;
}

nav h1 {
  font-size: 20px;
}

#actionTask {
  display: none;
}

.dropdown.bootstrap-select {
  width: 500px !important;
}

.bootstrap-select > .dropdown-toggle {
  background: none;
  border-radius: 5px;
  color: unset;
  margin-top: 10px;
}

.task-options .task-option input {
  width: auto;
}

.task-options .task-option label {
  font-weight: 500;
  display: inline-block;
  margin: 0px;
  margin-left: 10px;
}

.task-options .task-option .right label {
  margin-left: 0px;
  margin-right: 10px;
  width: 80%;
  text-align: right;
}

.task-options .task-option .right input {
  padding: 5px 10px;
  width: 100px;
  font-size: 16px;
  text-align: center;
  width: 20%;
}

.task-options .task-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

#comment {
  height: 60px;
  width: 300px;
  margin: 0px;
  padding: 6px 10px;
  font-size: 14px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 16px;
}

.submit-task {
  font-size: 16px;
  /* width: 300px; */
  /* margin: 0 auto; */
  margin-top: 50px;
  padding: 10px 40px;
}

.disabled {
  opacity: 0.4;
}

.task-options .task-option .left * {
  cursor: pointer;
}

.task-options .task-option.disabled {
  opacity: 1;
}

.task-options .task-option.disabled .right {
  opacity: 0.4;
  pointer-events: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.task-options .task-option .left,
.task-options .task-option .right {
  display: flex;
}
.task-options .task-option .left {
  width: 70%;
}

.task-options .task-option .right {
  width: 30%;
  align-items: center;
}

.timer-wrapper {
  /* font-size: 50px; */
  color: #fff;
  /* flex-direction: column; */
  display: none;
  /* justify-content: center; */
  margin-top: 50px;
  align-items: center;
}

.timer-wrapper .timer {
  color: #000;
  font-size: 25px;
  font-weight: 500;
  margin-left: 20px;
}

.timer-wrapper .stop-timer {
  /* display: block; */
  /* font-size: 20px; */
  /* padding: 10px 30px; */
  background: #bb5e5e;
  margin-top: 0px;
  font-size: 16px;
  /* width: 300px; */
  /* margin: 0 auto; */
  /* margin-top: 50px; */
  padding: 10px 40px;
}

.controls > div {
  margin-left: 20px;
  cursor: pointer;
  display: none;
}

.controls > div img {
  width: 30px;
}

.controls > div span {
  display: none;
}

.data-table th,
.data-table td {
  font-size: 12px;
}

.data-table thead tr th:not(:first-child),
.data-table tbody tr td:not(:first-child) {
  text-align: center;
}

.cd-popup {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(94, 110, 141, 0.9);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}
.cd-popup.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-popup-container {
  position: relative;
  width: 90%;
  max-width: 450px;
  margin: 4em auto;
  background: #fff;
  border-radius: 0.25em 0.25em 0.4em 0.4em;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  transform: translateY(-40px);
  /* Force Hardware Acceleration in WebKit */
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.cd-popup-container p {
  padding: 3em 2em;
  font-size: 17px;
}
.cd-popup-container .cd-buttons:after {
  content: "";
  display: table;
  clear: both;
}
.cd-popup-container .cd-buttons li {
  float: left;
  width: 50%;
}
.cd-popup-container .cd-buttons a {
  display: block;
  height: 60px;
  line-height: 60px;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
  text-decoration: none;
}
.cd-popup-container .cd-buttons li:first-child a {
  background: #fc7169;
  border-radius: 0 0 0 0.25em;
}
.no-touch .cd-popup-container .cd-buttons li:first-child a:hover {
  background-color: #fc8982;
}
.cd-popup-container .cd-buttons li:last-child a {
  background: #b6bece;
  border-radius: 0 0 0.25em 0;
}
.no-touch .cd-popup-container .cd-buttons li:last-child a:hover {
  background-color: #c5ccd8;
}
.cd-popup-container .cd-popup-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
}
.cd-popup-container .cd-popup-close::before,
.cd-popup-container .cd-popup-close::after {
  content: "";
  position: absolute;
  top: 12px;
  width: 14px;
  height: 3px;
  background-color: #8f9cb5;
}
.cd-popup-container .cd-popup-close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 8px;
}
.cd-popup-container .cd-popup-close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 8px;
}
.is-visible .cd-popup-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.cd-buttons.submitting li:first-child {
  width: 100%;
  pointer-events: none;
  background: #b6bece;
}
.cd-buttons.submitting li:last-child {
  display: none;
}

.cd-buttons.submitted li:first-child a {
  background: green;
}
